.intro__lines {
  font-family: "Inter", Arial, sans-serif;
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  max-width: 690px;
  color: #FFFFFF;

}


