.header__lang-link_ru {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: underline;
  color: #ffffff;

  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-link_ru {
    font-size: 18px;
    line-height: 20px;
  }
}
