.header__content {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  text-align: right;
  text-decoration-line: none;
  color: #ffffff;
  margin: 0;
  margin-right: 18px;

}

.header__content:hover {
  opacity: 0.8;
}

.header__content:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__content {
    font-size: 18px;
    line-height: 20px;
  }
}
