.header__content {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: none;
  color: #ffffff;
  margin-right: 0;
}

.header__content:first-of-type {
  text-decoration-line: underline;
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .header__box_ru {
    font-size: 18px;
    line-height: 20px;
  }
}
